* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h5, h6 {
    color:darkolivegreen
}

a {
    background: linear-gradient(to botom, #b3801225 0%, #b3801225 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
background-size: 3px 3px;
color:rgb(53, 145,182);
text-decoration: none;
text-transform: uppercase;
}

a:hover {
    background-image: url(F:\Downloads);
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    color: blueviolet;
    text-decoration: none;
}

body {
    background-color: wheat;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 960px;
    margin: 32px auto;
    background: linear-gradient(to bottom,white, rgba(52, 129, 231, 0.8));
    box-shadow: rgba(36, 74, 125, 0.8),0px 2px 1px -1px,  rgba(red, green, blue, alpha),0px 1px 1px 0px, rgba(rgb(68, 55, 55), rgb(114, 15, 15), rgb(198, 205, 182), alpha), 0px 1px 3px 0px; 
}

.container:hover{
    box-shadow: 2px 4px 3px rgba(36, 74, 125, 0.8),0px 1px 1px 0px rgba(red, green, blue, alpha), 0px 1px 3px 0px, rgba(rgb(68, 55, 55), rgb(114, 15, 15), rgb(198, 205, 182), alpha);
}

.header {
    display: flex;
}

.header > .right.side> .navbar >.navbar-links {
    display: flex;
    justify-content: space-between;
}

.header > .right.side > {
    display: flex;
flex-direction: column;
justify-content: space-between;
}

.header h1 {
    font-size: 72px;
}

.header > .right.side {
    padding: 16px;
}

.main {
    border-top: 1px solid #211a2a;
    display: flex;
}

.main .sidebar {
    flex: 0 0 auto;
    width: 250px;
    background-color: #211a2a;
    color: white;
}

.main > .sidebar h2{
color: #96ab5d
}

.main > .sidebar a {
    color:beige
}

.section {
    margin: 16px;
    width: 90%;
}

.section > ul >li {
    margin: 4px 0px 4px 8px;
}

.main > .content{
    display:flex;
    flex-direction: column;
}

.footer{
    width:100%;
    padding: 16px 0;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex:auto;
    border-top: 1px solid #211a2a;
}

.footer a {
    color:black
}

pre{
    margin: 8px 0;
    background-color: #96ab5d;
    border: 1px solid white;
}